.card-audio-modal{
    max-height: 50vh;
    margin: 0 auto;
    color: color($colors, light);
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    flex:1 ;
    background-color: rgba(0, 0, 0, 0.8);
    .card-title{
        color: color($colors, light);
    }
    .audio-image{
        width: 80px;
        height: 50px;
        margin: 0 auto;
    }

    .audio-controls-container{
        background: transparent;
        span{
            color: color($colors, light);
        }
    }
    .play-pause-btn{
        color: color($colors, light);
    }
}