      
.title-font{
    font-family: $font_HelveticaNeue_CondensedBlack, $font_Helvetica_Neue, $font_Arial, $font_Helvetica, $font_sans_serif;
    color: color($colors,darkGray);
}

@media only screen and (orientation:portrait) {
    .help-content-container{
        position: relative;
        .page-help-image{
            width: 100px;
            height: 50px;
            position: absolute;
            top: 0vh;
            right: 8vw;
    }
      .help-content{
            width: 50%;
            font-family: $font_HelveticaNeue_CondensedBold, $font_Helvetica_Neue, $font_Arial, $font_Helvetica, $font_sans_serif;
            color: color($colors,darkGray);
            margin-left: 1.9em;
            position: relative;   
            font-size: $list-menu-font-small-size;
        }

        .help-content-audiobtn{
            width: 100px;
            height: 90px;
            position: absolute;
            top: 0;
            right: 0;
        }
    }
}
@media only screen and (orientation: landscape) {
       .ack-header{
        padding-top: 1em;
        text-align: center;
        font-size: 2em;
        }

    .help-content-container{
        position: relative;
        .page-help-image{
            width: 100px;
            height: 50px;
            position: absolute;
            top: 0vh;
            right: 8vw;
        }

        .help-content{
            width: 50%;
            font-family: $font_HelveticaNeue_CondensedBold, $font_Helvetica_Neue, $font_Arial, $font_Helvetica, $font_sans_serif;
            color: color($colors,darkGray);
            margin-left: 2.2em;
            position: relative;   
            font-size: $list-menu-font-small-size;
        }

        .help-content-audiobtn{
            width: 100px;
            height: 90px;
            position: absolute;
            top: -27px;
            right: 8vw;
        }
    }
}
@media only screen and (max-device-width : 1024px) 
                   and (min-device-height : 768px) 
                   and (orientation:portrait) {
       .ack-header{
        padding-top: 1em;
        text-align: center;
        font-size: 2em;
        }

    .help-content-container{
        position: relative;

        .help-content{
            width: 50%;
            font-family: $font_HelveticaNeue_CondensedBold, $font_Helvetica_Neue, $font_Arial, $font_Helvetica, $font_sans_serif;
            color: color($colors,darkGray);
            margin-left: 2.2em;
            position: relative;   
            font-size: 2em;
        }
        .page-help-image{
            width: 100px;
            height: 50px;
            position: absolute;
            top: 0vh;
            right: 10vw;
        }
        .help-content-audiobtn{
            width: 140px;
            height: 130px;
            position: absolute;
            top: -12px;
            right: 10vw;
        }
    }
}
@media only screen and (max-device-width : 1024px) 
                   and (min-device-height : 768px) 
                   and (orientation:landscape) {
       .ack-header{
        padding-top: 1em;
        text-align: center;
        font-size: 2em;
        }
        
    .help-content-container{
        position: relative;

        .help-content{
            width: 50%;
            font-family: $font_HelveticaNeue_CondensedBold, $font_Helvetica_Neue, $font_Arial, $font_Helvetica, $font_sans_serif;
            color: color($colors,darkGray);
            margin-left: 2em;
            position: relative;   
            font-size: 1.4em;
        }
        .page-help-image{
            width: 100px;
            height: 50px;
            position: absolute;
            top: 0vh;
            right: 8vw;
        }
        .help-content-audiobtn{
            width: 100px;
            height: 90px;
            position: absolute;
            top: -12px;
            right: 8vw;
        }
    }
}