      
.title-font{
    font-family: $font_HelveticaNeue_CondensedBlack, $font_Helvetica_Neue, $font_Arial, $font_Helvetica, $font_sans_serif;
    color: color($colors,darkGray);
}

@media only screen and (orientation:portrait) {
    .title-button-section{
     position: relative;
     .ack-header{
        padding-top: 1em;
        text-align: center;
        font-size: 2em;
        }
     .done-button{
         position: absolute;   
         top: 0;
         right: 0;
     }
 } 
    .help-content{
        position: relative;
        .page-help-image{
            width: 100px;
            height: 50px;
            position: absolute;
            top: 0vh;
            right: 8vw;
    }
      .help-para{
            width: 50%;
            font-family: $font_HelveticaNeue_CondensedBold, $font_Helvetica_Neue, $font_Arial, $font_Helvetica, $font_sans_serif;
            color: color($colors,darkGray);
            margin-left: 1.9em;
            position: relative;   
            font-size: $list-menu-font-small-size;
        }

        .help-audiobtn-image{
            width: 100px;
            height: 90px;
            position: absolute;
            top: -12px;
            right: 8vw;
        }
    }
     .title-section{
        font-size: $para-list-menu-font-size;
        font-weight: 900;
        margin-left:$margin-title-portrait;
    }
}
@media only screen and (orientation: landscape) {
       .ack-header{
        padding-top: 1em;
        text-align: center;
        font-size: 2em;
        }

    .help-content{
        position: relative;
        .page-help-image{
            width: 100px;
            height: 50px;
            position: absolute;
            top: 0vh;
            right: 8vw;
        }

        .help-para{
            width: 50%;
            font-family: $font_HelveticaNeue_CondensedBold, $font_Helvetica_Neue, $font_Arial, $font_Helvetica, $font_sans_serif;
            color: color($colors,darkGray);
            margin-left: 2.2em;
            position: relative;   
            font-size: $list-menu-font-small-size;
        }

        .help-audiobtn-image{
            width: 100px;
            height: 90px;
            position: absolute;
            top: -12px;
            right: 8vw;
        }
    }
    .title-section{
        font-size: $para-list-menu-font-size;
        font-weight: 900;
        margin-left:$margin-title-landscape;
    }
}
@media only screen and (max-device-width : 1024px) 
                   and (min-device-height : 768px) 
                   and (orientation:portrait) {
       .ack-header{
        padding-top: 1em;
        text-align: center;
        font-size: 2em;
        }

    .help-content{
        position: relative;

        .help-para{
            width: 50%;
            font-family: $font_HelveticaNeue_CondensedBold, $font_Helvetica_Neue, $font_Arial, $font_Helvetica, $font_sans_serif;
            color: color($colors,darkGray);
            margin-left: 2.2em;
            position: relative;   
            font-size: 2em;
        }
        .page-help-image{
            width: 100px;
            height: 50px;
            position: absolute;
            top: 0vh;
            right: 10vw;
        }
        .help-audiobtn-image{
            width: 140px;
            height: 130px;
            position: absolute;
            top: -12px;
            right: 10vw;
        }
    }
    .title-section{
        font-size: 1.9em;
        font-weight: 900;
        margin-left:$margin-title-portrait-ios;
    }
}
@media only screen and (max-device-width : 1024px) 
                   and (min-device-height : 768px) 
                   and (orientation:landscape) {
       .ack-header{
        padding-top: 1em;
        text-align: center;
        font-size: 2em;
        }
        
    .help-content{
        position: relative;

        .help-para{
            width: 50%;
            font-family: $font_HelveticaNeue_CondensedBold, $font_Helvetica_Neue, $font_Arial, $font_Helvetica, $font_sans_serif;
            color: color($colors,darkGray);
            margin-left: 2em;
            position: relative;   
            font-size: 1.4em;
        }
        .page-help-image{
            width: 100px;
            height: 50px;
            position: absolute;
            top: 0vh;
            right: 8vw;
        }
        .help-audiobtn-image{
            width: 100px;
            height: 90px;
            position: absolute;
            top: -12px;
            right: 8vw;
        }
    }
     .title-section{
        font-size: $para-list-menu-font-size;
        font-weight: 900;
        margin-left:$margin-title-landscape-ios;
    }
}