<ion-header>
  <ion-navbar primary>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
   <ion-title text-center>{{pageContent.title}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="bg_image">
  <ion-row responsive-lg wrap>
    <ion-col *ngFor="let section of pageContent.sections" width-50 no-padding no-margin>
      <div class='title-section blue'>{{section.title.large}}</div> 
      <ion-card class="sub-section" no-padding no-margin text-left *ngFor="let subSection of section.subSections">
        <ion-card-header class="title-font title-section">
          {{subSection.title}}
        </ion-card-header>
        <ion-card-content no-margin no-padding [innerHtml]="subSection.content">
          <!--{{section.content}}-->
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>