.menu-list-header{
    background-color: #f5895b;
    padding-left: 15px;
    padding-bottom: 8px;
    padding-right: 10px;
    padding-top: 9px;
    font-size: $para-list-menu-font-size;
    color: white;
}
.menu-nav-item{
    .menu-title-small{
        font-size: $list-menu-font-small-size;   
        margin: 0;
    }
    .menu-title-large{
        font-size: $para-list-menu-font-size;
        margin: 0;
    }
}
.icon-bcg-menu{
    color: color($colors, blue);
}

/*
General Formatting
*/

html, body {
  height: 100%;
  width: 100%;
  font-family: $font_Arial, $font_Helvetica, $font_sans_serif;
  margin: 0;
  padding: 0;
}

.menu-item {
  font-family: $font_HelveticaNeue_CondensedBold, $font_Helvetica_Neue, $font_Arial, $font_Helvetica, $font_sans_serif;
  font-weight: bolder;
  color: color($colors, darkGrey);
  float: left;
  display: inline-flex;
  min-width: 100%;
}

.blue{
    color: color($colors, blue);
}

.bg_image{
    background-image: url('../../img/bg_content.jpg');
}

li.list-content{
   font-size: $para-list-menu-font-size;
}

li.list-content:before {
    content: "";  
    border-color: transparent color($colors, blue);  
    border-style: solid;  
    border-width: 0.35em 0 0.35em 0.45em;  
    display: block;  
    left: -1em;  
    top: 1em;  
    position: relative; 
} 
ul.list{
    margin-left: 1em;
    margin-top: 0;
    margin-bottom: 0;
}

.pager-container{
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    width: 25px;
    padding: 0;
    position: fixed;
    z-index: 99;
    top:100px;
    
    .pager-indicator{
        font-family:'Oswald'; 
        text-align: center;
        border-radius: 50%;
        line-height: 22px;
        height: 22px;
        width: 22px;
        background-color: color($colors, gray);
        color: color($colors,white);
        font-size: 1em;
        font-weight: bold; 
        margin-top: 15px;
        &.active{
            background-color: color($colors, primary);
        }
    }
    :first-child{
        margin-top: 0;
    }
}

@media only screen and (orientation:portrait) {
    .section-title-container{
        position: relative;
        padding-bottom: 20px;   
        .section-title{
            background-color: color($colors,blue);
            display: flex;
            width: 87%;
            height: 10vh;
            .section-title-large{
                font-family: $font_HelveticaNeue_CondensedBlack, $font_Helvetica_Neue, $font_Arial, $font_Helvetica, $font_sans_serif;
                color: color($colors,white);
                font-size: 6vh;
                padding-top: 2%;
                margin-left: $margin-ion-header;
            }
            .section-title-small{
                font-family: $font_HelveticaNeue_CondensedBlack, $font_Helvetica_Neue, $font_Arial, $font_Helvetica, $font_sans_serif;
                color: color($colors,white);
                font-size: 7vw;
                padding-top: 6%;
                padding-left: 6px;
            }
        }
        .section-title-audiobtn{
            height: 13vh;
            width: 22vw;
            left: 75vw;
            top: 0; 
            position: absolute;
        }
    }
    .sub-section-container{
    display: flex;
    // flex-direction: column;
    flex-basis: 100%;
    flex-wrap: wrap;
    .sub-section{
        flex: 1;
        // box-shadow: none;
        background: transparent;
        min-width: 50%;
        .sub-section-title{
            font-size: $para-list-menu-font-size;
            font-weight: 900;
            margin-left:$margin-title-portrait;
            }
    }   
}
    .text-content{
        font-size: $para-list-menu-font-size;
        color: color($colors,black);
        margin-left:$margin-title-portrait;
    }
}
@media only screen and (orientation: landscape) {
    .section-title-container{
        position: relative;
        padding-bottom: 20px; 
        // margin-top: 28px;
        .section-title{
            background-color: color($colors,blue);
            display: flex;
            flex-direction: row;
            width: 78%;
            height: 25vh;
            .section-title-large{
                font-family: $font_HelveticaNeue_CondensedBlack, $font_Helvetica_Neue, $font_Arial, $font_Helvetica, $font_sans_serif;
                color: color($colors,white);
                font-size: 18vh;
                padding-top: 1%;
                margin-left: $margin-ion-header; 
            }
            .section-title-small{
                font-family: $font_HelveticaNeue_CondensedBlack, $font_Helvetica_Neue, $font_Arial, $font_Helvetica, $font_sans_serif;
                color: color($colors,white);
                font-size: 6vw;
                padding-top: 6%;
                padding-left: 6px;
            }
        }
        .section-title-audiobtn{
            height: 31vh;
            width: 20vw;
            left: 67vw;
            top: 0;
            position: absolute;
        }   
    }
    .sub-section-container{
    display: flex;
    // flex-direction: column;
    flex-basis: 100%;
    flex-wrap: wrap;
    .sub-section{
        flex: 1;
        // box-shadow: none;
        background: transparent;
        min-width: 50%;
        .sub-section-title{
        font-size: $para-list-menu-font-size;
        font-weight: 900;
        margin-left:$margin-title-portrait-ios;
            }
    }   
}
    .text-content{
        font-size: $para-list-menu-font-size;
        color: color($colors,black);
        margin-left:$margin-title-landscape;
    }
}
@media only screen and (max-device-width : 1024px) 
                   and (min-device-height : 768px) 
                   and (orientation:portrait) {

    .section-title-container{
        position: relative;
        // width: 50%;
        .section-title{
            background-color: color($colors,blue);
            // max-width: 100%;
            width: 85%;
            height: 11.5vh;
            display: flex;
            flex-direction: row;
            // position: relative;
            .section-title-large{
                font-family: $font_HelveticaNeue_CondensedBlack, $font_Helvetica_Neue, $font_Arial, $font_Helvetica, $font_sans_serif;
                color: color($colors,white);
                font-size: 8vh;
                // padding-top: 2%;
                margin-left: $margin-ion-header; 
            }
            .section-title-small{
                font-family: $font_HelveticaNeue_CondensedBlack, $font_Helvetica_Neue, $font_Arial, $font_Helvetica, $font_sans_serif;
                color: color($colors,white);
                font-size: 5vh;
                padding-top: 6.8%;
                padding-left: 6px;
            }
        }
        .section-title-audiobtn{
            height: 14vh;
            width: 18vw;
            left: 75vw;
            top: 0;
            flex: 1;
            position: absolute;
        }          
    }
    .sub-section-container{
    display: flex;
    // flex-direction: column;
    flex-basis: 100%;
    flex-wrap: wrap;


    
    .sub-section{
        flex: 1;
        // box-shadow: none;
        background: transparent;
        min-width: 50%;
        .sub-section-title{
            font-size: 1.9em;
            font-weight: 900;
            margin-left:$margin-title-portrait-ios;
            }
    }   
}
    .text-content{
        font-size: $para-list-menu-font-size;
        color: color($colors,black);
        margin-left:$margin-title-portrait-ios;
    }
}
@media only screen and (max-device-width : 1024px) 
                   and (min-device-height : 768px) 
                   and (orientation : landscape) {
    .section-title-container{
        position: relative;
        // width: 50%;
        .section-title{
            background-color: color($colors,blue);
            // max-width: 100%;
            width: 47%;
            height: 11.5vh;
            display: flex;
            position: relative;
            .section-title-large{
                font-family: $font_HelveticaNeue_CondensedBlack, $font_Helvetica_Neue, $font_Arial, $font_Helvetica, $font_sans_serif;
                color: color($colors,white);
                font-size: 8vh;
                // padding-top: 2%;
                margin-left: $margin-ion-header; 
            }
            .section-title-small{
                font-family: $font_HelveticaNeue_CondensedBlack, $font_Helvetica_Neue, $font_Arial, $font_Helvetica, $font_sans_serif;
                color: color($colors,white);
                font-size: 5vh;
                padding-top: 5.8%;
                padding-left: 6px;
            }
        }
        .section-title-audiobtn{
            height: 14vh;
            width: 12vw;
            left: 41vw;
            top: 0;
            flex: 1;
            position: absolute;
        }          
    }
    .sub-section-container{
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    flex-wrap: wrap;
    .sub-section{
        flex: 1;
        // box-shadow: none;
        background: transparent;
        min-width: 50%;
        .sub-section-title{
            font-size: $para-list-menu-font-size;
            font-weight: 900;
            margin-left:$margin-title-portrait-ios;
        }
    }   
}
.text-content{
        font-size: $para-list-menu-font-size;
        color: color($colors,black);
        margin-left:$margin-title-landscape-ios;
    }
}
