

@font-face {
  font-family: $font_icomoon;
  src: $url_font_eot;
  src: $url_font_eot2 format('embedded-opentype'), $url_font_woff format('woff'), $url_font_ttf format('truetype'), $url_font_svg format('svg');
  font-weight: normal;
  font-style: normal;
}

/*
Custom and 3rd Party Icons
*/

[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bcg:before {
  content: "\e601";
}

.icon-timeline:before {
  content: "\e604";
}

.icon-sideeffects:before {
  content: "\e602";
}

.icon-q:before {
  content: "\e600";
  font-family: $font_icomoon;
  position: relative;
  top: 2px;
  color: $blue;
}

.icon-a:before {
  content: "\e603";
  font-family: $font_icomoon;
  position: relative;
  top: 2px;
  color: $orange;
}