
.card-background-page {
ion-row{
  height: inherit;
}
ion-col{
  ion-card:last-child{
    margin-top: 24px;
    margin-left: 12px;
    background-color: white;
  }
  ion-card:first-child{
    margin-top: 12px;
    margin-left: 12px;
    background-color: white;
  }
}
  .card-title {
    text-align: right;
    position: initial;  
    top: 36%;
    font-size: 2.3em;
    width: 100%;
    font-weight: bolder;
    color: #ffffff;
    font-family: $font_HelveticaNeue_CondensedBlack, $font_Helvetica_Neue, $font_Arial, $font_Helvetica, $font_sans_serif;
  }
  .card-title1{
    text-align: left;
    position: initial;  
    top: 36%;
    font-size: 2.3em;
    width: 100%;
    font-weight: bolder;
    color: #ffffff;
    font-family: $font_HelveticaNeue_CondensedBlack, $font_Helvetica_Neue, $font_Arial, $font_Helvetica, $font_sans_serif;
  }
  .card-subtitle {
    text-align: right;
    font-size: 1.5em;
    position: initial;
    top: 52%;
    width: 100%;
    color: #ffffff;   
  }
  .card-subtitle1{
    text-align: left;
    font-size: 1.5em;
    position: initial;
    top: 52%;
    width: 100%;
    color: #ffffff; 
  }
}

.card-navigation{
  box-shadow: 0 0 3px color($colors,darkGray);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border: 5px solid white;
  img{
    opacity: 0;
  }
  &.card-intro{
    background-image: url('../../img/home/bladder.jpg'); 
  }
  &.card-treatment{
    background-image: url('../../img/home/treatment.png'); 
  }
  &.card-questions{
    background-image: url('../../img/home/questions.png'); 
  }
  &.card-sideeffects{
    background-image: url('../../img/home/flush.png'); 
  }
  &.card-timeline{
    background-image: url('../../img/home/timeline.png');
  }

  .card-footer{
    position: absolute;
    padding: 5px;
    background: rgba(82, 202, 245, 0.7); 
    width: 100%;
    height: 70px;
    bottom: 0;
    color: color($colors, white);
    z-index: 1;
    div{
      z-index: 2;
      opacity: 1;
    }
}
}

.flex-header{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    font-family: $font_HelveticaNeue_CondensedBlack, $font_Helvetica_Neue, $font_Arial, $font_Helvetica, $font_sans_serif;
    height: 12vw;
    width: 100%;
    margin-left: 1em;
}
.header-font-big{
  color: color($colors,blue);
  font-size: 12vw;
}

.header-font-small{
  color: color($colors,orange);
  font-size: 4vw;
  padding-top: 7.9%;
} 
.header-font-med{
  color: color($colors,orange);
  font-size: 8vw;
  padding-top: 4%;
}  
.header-audiobtn{
  margin-top: 1em;
  margin-left: 1em;
  height: 12vw;
  width: 12vw;
}

.sub-header{
    display: flex;
    flex-direction: row;
    font-family: $font_HelveticaNeue_CondensedBlack, $font_Helvetica_Neue, $font_Arial, $font_Helvetica, $font_sans_serif;
    color: color($colors,blue);
    margin-left: 17px;
    font-size: 2.4vw;
}

.main{
  width: 100%;
  height: 50%;
}