
ul{
    list-style: none;
    padding-bottom: 5px;
}

li.faq-list{
    position: relative;
    text-indent: -1.7em;
    font-size: $para-list-menu-font-size;
    line-height: 1em;
}
@media only screen and (orientation:portrait) {
    .section-title-container1{
            padding-bottom: 20px; 
            // display: flex;   
            position: relative;
            .section-title1{
                background-color: color($colors,blue);
                width: 87%;
    
            .section-title-smalltext{
                font-family: $font_HelveticaNeue_CondensedBlack, $font_Helvetica_Neue, $font_Arial, $font_Helvetica, $font_sans_serif;
                            color: color($colors,white);
                            font-size: 5.5vw;
                            margin-left: 1.6em;
                            
            }
            .section-title-largetext{
            font-family: $font_HelveticaNeue_CondensedBlack, $font_Helvetica_Neue, $font_Arial, $font_Helvetica, $font_sans_serif;
                            color: color($colors,white);
                            font-size: 9.7vw;
                            margin-left: $margin-title-landscape;
            }
        }
        .section-title-audiobtn1{
            height: 13vh;
            width: 22vw;
            background: transparent;
            left: 75vw;
            top: 0; 
            position: absolute;
        }
    }
}
@media only screen and (orientation:landscape) {
    .section-title-container1{
            padding-bottom: 20px; 
            display: flex;   
            position: relative;
            .section-title1{
                background-color: color($colors,blue);
                width: 91%;
    
            .section-title-smalltext{
                font-family: $font_HelveticaNeue_CondensedBlack, $font_Helvetica_Neue, $font_Arial, $font_Helvetica, $font_sans_serif;
                            color: color($colors,white);
                            font-size: 5.5vw;
                            margin-left: 0.9em;
                            
            }
            .section-title-largetext{
            font-family: $font_HelveticaNeue_CondensedBlack, $font_Helvetica_Neue, $font_Arial, $font_Helvetica, $font_sans_serif;
                            color: color($colors,white);
                            font-size: 9.7vw;
                            margin-left: 0.5em;
            }
        }
        .section-title-audiobtn1{
            height: 40vh;
            width: 22vw;
            background: transparent;
            left: 75vw;
            top: 0; 
            position: absolute;
        }
    }
}
@media only screen and (max-device-width : 1024px) 
                   and (min-device-height : 768px) 
                   and (orientation:portrait){
    .section-title-container1{
            padding-bottom: 20px; 
            display: flex;      
            position: relative;
            .section-title1{
                background-color: color($colors,blue);
                width: 91%;
    
            .section-title-smalltext{
                font-family: $font_HelveticaNeue_CondensedBlack, $font_Helvetica_Neue, $font_Arial, $font_Helvetica, $font_sans_serif;
                            color: color($colors,white);
                            font-size: 5.5vw;
                            margin-left: 1.6em;
                            
            }
            .section-title-largetext{
            font-family: $font_HelveticaNeue_CondensedBlack, $font_Helvetica_Neue, $font_Arial, $font_Helvetica, $font_sans_serif;
                            color: color($colors,white);
                            font-size: 9.7vw;
                            margin-left: $margin-title-landscape;
            }
        }
        .section-title-audiobtn1{
            height: 17vh;
            width: 23vw;
            background: transparent;
            left: 75vw;
            top: 0; 
            position: absolute;
        }
    }
}

@media only screen and (max-device-width : 1024px) 
                   and (min-device-height : 768px) 
                   and (orientation:landscape){
    .section-title-container1{
            padding-bottom: 20px; 
            display: flex;   
            position: relative;
            .section-title1{
                background-color: color($colors,blue);
                width: 91%;
    
            .section-title-smalltext{
                font-family: $font_HelveticaNeue_CondensedBlack, $font_Helvetica_Neue, $font_Arial, $font_Helvetica, $font_sans_serif;
                            color: color($colors,white);
                            font-size: 2.5vw;
                            margin-left: 1.2em;
                            
            }
            .section-title-largetext{
            font-family: $font_HelveticaNeue_CondensedBlack, $font_Helvetica_Neue, $font_Arial, $font_Helvetica, $font_sans_serif;
                            color: color($colors,white);
                            font-size: 4.7vw;
                            margin-left: $margin-title-portrait;
            }
        }
        .section-title-audiobtn1{
            height: 15vh;
            width: 13vw;
            background: transparent;
            left: 36vw;
            top: 0; 
            position: absolute;
        }
    }
}