ion-card{
    text-align: left;
    // width: 100%;
ion-card-content{
    padding-right: 50%;
    // text-align: left;
    font-size: 1.4em;
}
}

ul{
    list-style: none;
    padding-bottom: 5px;
}

li{
    position: relative;
    text-indent: -1.4em;
}
