.column-one{
    width: 50%;
    float: left;
}
.title{
    text-align: center;
}
.title-blue{
    color: #52caf5;
    font-weight: 900;
    font-size: 1.5em;
}
.slide-text {
    padding-left: 2em;
    padding-right: 2em;
}