
.card-background-page {
ion-row{
  height: inherit;
}
ion-col{
  ion-card:last-child{
    margin-top: 24px;
    margin-left: 12px;
    background-color: white;
  }
  ion-card:first-child{
    margin-top: 12px;
    margin-left: 12px;
    background-color: white;
  }
}
  .card-title {
    text-align: right;
    position: initial;  
    top: 36%;
    font-size: 2.3em;
    width: 100%;
    font-weight: bolder;
    color: #ffffff;
    font-family: $font_HelveticaNeue_CondensedBlack, $font_Helvetica_Neue, $font_Arial, $font_Helvetica, $font_sans_serif;
  }
  .card-title1{
    text-align: left;position: initial;  
    top: 36%;
    font-size: 2.3em;
    width: 100%;
    font-weight: bolder;
    color: #ffffff;
    font-family: $font_HelveticaNeue_CondensedBlack, $font_Helvetica_Neue, $font_Arial, $font_Helvetica, $font_sans_serif;
  }
  .card-subtitle {
    text-align: right;
    font-size: 1.5em;
    position: initial;
    top: 52%;
    width: 100%;
    color: #ffffff;   
  }
  .card-subtitle1{
    text-align: left;
    font-size: 1.5em;
    position: initial;
    top: 52%;
    width: 100%;
    color: #ffffff; 
  }
}

.card-navigation{
  box-shadow: 0 0 3px color($colors,darkGray);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border: 5px solid white;
  img{
    opacity: 0;
  }
  &.card-intro{
    background-image: url('../../img/home/bladder.jpg'); 
    // background-size: cover;
  }
  &.card-treatment{
    background-image: url('../../img/home/treatment.png'); 
  }
  &.card-questions{
    background-image: url('../../img/home/questions.png'); 
  }
  &.card-sideeffects{
    background-image: url('../../img/home/flush.png'); 
  }
  &.card-timeline{
    background-image: url('../../img/home/timeline.png');
  }

  .card-footer{
    position: absolute;
    padding: 5px;
    // font-family: 'Oswald';
    background: rgba(82, 202, 245, 0.7); 
    width: 100%;
    height: 70px;
    bottom: 0;
    color: color($colors, white);
    z-index: 1;
    div{
      z-index: 2;
      opacity: 1;
    }
}
}

.flex-header{
    display: inline-flex;
    flex-direction: row;
    font-family: $font_HelveticaNeue_CondensedBlack, $font_Helvetica_Neue, $font_Arial, $font_Helvetica, $font_sans_serif;
      
    .header-item1{
      color: color($colors,blue);
      font-size: 6em;
      height: 85px;
    //   width: 140px;
    // }

    .header-item2{
      color: color($colors,orange);
      font-size: 2em;
      padding-top: 56px;
      height: 85px;
      // width: 33px;
    } 
    .header-item3{
      color: color($colors,orange);
      font-size: 4em;
      // padding-top: 28px;
      height: 85px;
      // width: 400px;
    }  
    .header-item4{
      padding-top: 10px;
      height: 85px;
    }
}

.sub-header{
    display: inline-flex;
    flex-direction: row;
    font-family: $font_HelveticaNeue_CondensedBlack, $font_Helvetica_Neue, $font_Arial, $font_Helvetica, $font_sans_serif;
    color: color($colors,blue);
}

.copyrights{
  font-size: 1em !important;
  text-align: center;
}

.main{
  width: 100%;
  height: 50%;
}