.card-background-page {

  ion-card {
    position: relative;
    text-align: right;
    width: 100%;
  }
.card-footer{
      position: absolute;
    width: inherit;
    height: 120px;
    bottom: 0;
    .card-bg-image{
      width: 100%;
    }
}
.card-bg-image{
      width: 100%;
    }
  .card-title {
    position:absolute;  
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #000000;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #000000;
  }

}
ion-card{
  background-image: url('../../img/img11.png');
  background-size: contain;
  width: initial !important;
  height: 100%;
  min-height: 120px;
}