
h1{
    text-align: center;
}

ion-col{
     text-align: left;
     padding-right: 10%;
}
.page-help-image{
    height: 20%;
    width: 20%;
    float: right;

}

.help-para{
    width: 60%;
    float: left;
}